@use 'src/styles/vars';
@use 'src/styles/mixins';

.background-item-detail {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(3px);
}

.item-detail {
  width: 45rem;
  height: fit-content;
  margin: auto;
  padding-bottom: 1rem;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  background-color: vars.$backgroundColor;
  border-radius: 1.3rem;
  box-shadow: 0px 0px 3px rgb(126, 126, 126);

  @media screen and (max-width: 767px) {
    width: 100vw;
    border-radius: 0;
    height: 100vh;
  }

  &-subtitles {
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
  }

  &-image {
    display: block;
    width: 100%;
    height: 7rem;
    object-fit: cover;
    border-radius: 1.3rem 1.3rem 0px 0px;

    @media screen and (max-width: 767px) {
      border-radius: 0;
    }
  }

  &-content {
    display: flex;
    color: vars.$lightColor;
    padding: 1rem;

    @media screen and (max-width: 767px) {
      display: initial;
    }

    &-left {
      width: 50%;
      padding-right: 1rem;

      @media screen and (max-width: 767px) {
        width: 100%;
        padding: 0 1rem;
      }

      &-title {
        margin-bottom: 0.3rem;
        font-weight: bold;
        font-size: 1.5rem;
        text-transform: none;
        font-family: 'Inter';
      }

      &-date {
        margin-bottom: 1rem;
        font-size: 0.8rem;
      }

      &-statusButtons {
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        border-radius: 2em;
        background-color: #E3E1FF;
        width: fit-content;
        padding: .3em;

        &-button {
          background-color: transparent;
        }

        &-button-active {
          // un-comment when color are dynamized by mode
          filter:  opacity(90%);
          transition: 0.2s;
        }

        &-button,
        &-button-active {
          border-radius: 1em;
          border: none;
          padding: .5em 1em;
        }
      }

      &-comment {
        resize: none;
        background-color: darken(vars.$backgroundColor, 2%);
        border-radius: 0.5rem;
        border: 0 0 1px vars.$backgroundColor;
        color: darken(vars.$lightColor, 35%);
        padding: .5rem;
        max-width: 90%;

        @media screen and (max-width: 767px) {
          max-height: 100px;
          width: 100%;
        }

        @include mixins.scrollBar;
      }
    }
  
    &-right {
      width: 50%;

      @media screen and (max-width: 767px) {
        width: 100%;
        padding: 0 1rem;
      }

      &-tags {
        margin-bottom: 1rem;
        display: flex;
        flex-wrap: wrap;

        &-tag {
          @include mixins.label;
          background-color: vars.$logoColorOne;
          border-radius: 0;
          margin-right: .5rem;
          margin-top: 0;
          margin-bottom: .5rem;
        }
      }

      &-about {
        &-description-jeuxvideo,
        &-description-podcasts {
          max-height: 4.5rem;
          overflow: scroll;
          overflow-x: hidden;
          margin-bottom: 1rem;
          font-size: 0.8rem;
          line-height: 1.1rem;
          text-align: justify;
          padding-right: .3rem;

          @include mixins.scrollBar;

          @media screen and (max-width: 767px) {
            height: 10rem;
            max-height: 10rem;
            font-size: 1rem;
            line-height: 1.3rem;
          }
        }

        &-description-jeuxvideo {
          &::-webkit-scrollbar-thumb {
            border-radius: 25px;
            background-color: vars.$modeColor;
          }
        }

        &-description-podcasts {
          &::-webkit-scrollbar-thumb {
            border-radius: 25px;
            background-color: vars.$iconPodcastBackgroundColor;
          }
        }

        &-infos {
          font-size: 0.8rem;

          @media screen and (max-width: 767px) {
            font-size: 1rem;
          }

          &-info {
            margin-bottom: 0.4rem;
          }
        }
      }
    }

  }

  &-buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    
    &-button {
      border-radius: 1em;
      border: none;
      padding: .5em .5em;
      background-color: vars.$modeColor;
      box-shadow: 0 0 2px vars.$modeColor;

      &:hover {
        background-color: darken(vars.$modeColor, 5%);
      }
    }

    &-close {
      border-radius: 50px;
      border: none;
      width: 22px;
      height: 22px;
      box-shadow: 1px 1px 2px darken(vars.$lightColor, 40%);

      background-image: url('src/assets/icons/x.svg');
      background-repeat: no-repeat;
      background-size: 20px;
      background-position-y: 1px;
      background-position-x: 1px;


      position: absolute;
      top: 10px;
      right: 10px;

      &:hover {
        background-color: darken(vars.$lightColor, 1%);
      }
    }
  }

}
