// used in list.scss
// vars Julie
$backgroundColor: #282727;
$darkColor: #2D2D2D;
$modeColor: #7068F4;
$infoColor: #00D3A1;
$lightColor: #FFFFFF;

// vars Louise
$secondaryColor: #2e2e2e;
$marginBottom: 2rem;
$borderRadius: .6rem;
