// used in list.scss
// vars Julie
$backgroundColor: #282727;
$darkColor: #2D2D2D;
$modeColor: #7068F4;
$infoColor: #00D3A1;
$infoHoverColor: #00d3a288;
$lightColor: #FFFFFF;

// vars Louise
$secondaryColor: rgb(243, 243, 243);
$marginBottom: 2rem;
$borderRadius: .6rem;
