$backgroundColor: #282727;
$darkColor: #2D2D2D;
$lightColor: #dfdfdf;
$secondaryColor: #2e2e2e;
$textSecondaryColor: black;

$infoColor: #00D3A1;
$infoHoverColor: #00d3a288;
$appColor: #223FFF;

$marginBottom: 2rem;
$borderRadius: .6rem;

$iconVideogameBackgroundColor: #7068F4;
$iconPodcastBackgroundColor: #FFA47A;
$modeColor: #7068F4;

$logoColorOne: #FF64B4;
$logoColorTwo: #FFD94A;
$logoColorThree: #AB66DA;
