@use 'reset';
@use 'vars';

html body {
  background-color: vars.$backgroundColor;
  background-image: url('src/assets/wave_1.svg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-color: vars.$backgroundColor;
  background-attachment: fixed;

  @media screen and (max-width: 768px) {
  }
  font-family: 'Inter', sans-serif;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
