@use 'reset';
@use 'vars';

html body {
  background-color: vars.$backgroundColor;
  font-family: 'Inter', sans-serif;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
