@use 'reset';
@use 'vars';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html body {
  background-color: vars.$backgroundColor;
  background-image: url('src/assets/wave_1.svg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-color: vars.$backgroundColor;
  background-attachment: fixed;
  font-family: 'Inter', sans-serif;

  position: relative;
  padding-bottom:100px;
}

