@use 'src/styles/vars';

.container-app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 99vh;
  padding-top: 80px;

  .app {
    position: relative;
    padding-bottom:100px;
  }
}
