@use 'src/styles/vars';
@use 'src/styles/mixins';

.list {
  margin-bottom: 5em;

  &-header {
    text-align: center;
    padding: 1em;
    margin: auto;
    max-width: 500px;

    &-menu {
      display: flex;
      
      @media screen and (min-width: 1024px) {
        margin-top: 1em;
        position: fixed;
        top: 5rem;
        left: 3.5rem;
        flex-direction: column;
        height: 100vh;
      }
      @media screen and (max-width: 768px) {
        justify-content: center;
        margin-right: .5em;
      }

      &-mode {
        color: vars.$lightColor;
        padding: .8em 1em;
        margin-bottom: 3em;
        border-radius: .8em;
        transition: 0.3s;
        background-color: lighten(vars.$backgroundColor, 5%);

        &-icon {
          width: 35px;
          filter: invert(100%);
        }

        @media screen and (max-width: 768px) {
          margin-left: .5em;
        }

        &:hover {
          background-color: lighten(vars.$backgroundColor, 20%);
        }

        &.active-videogames {
          background-color: vars.$iconVideogameBackgroundColor;

          &:hover {
            background-color: lighten(vars.$iconVideogameBackgroundColor, 10%);
          }
        }

        &.active-podcasts {
          background-color: vars.$iconPodcastBackgroundColor;

          &:hover {
            background-color: lighten(vars.$iconPodcastBackgroundColor, 10%);
          }
        }

        &.active-films {
          background-color: vars.$modeMovie;

          &:hover {
            background-color: lighten(vars.$modeMovie, 10%);
          }
        }
      }
    }

    &-title {
      display: flex;
      justify-content: center;
      
      &-label {
        position: absolute;
        top: -.5em;
        right: -2.5em;
        background-color: vars.$modeColor;
        font-size: .4em;
        font-family: 'Inter';
        width: 2em;
        height: 2em;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &-mode {
        position: relative;
        font-size: 2em;
        font-weight: bold;
        margin-right: 1em;
        color: vars.$lightColor;

        &-icon-podcasts {
          filter: invert(94%) sepia(98%) saturate(1407%) hue-rotate(302deg) brightness(99%) contrast(102%);
          margin-right: .3em;
        }

        &-icon-jeuxvideo {
          filter: invert(42%) sepia(12%) saturate(3196%) hue-rotate(206deg) brightness(103%) contrast(106%);
          margin-right: .3em;
          padding-bottom: .1em;
        }

        &-icon-films {
          filter: invert(36%) sepia(54%) saturate(1311%) hue-rotate(317deg) brightness(97%) contrast(97%);
          margin-right: .3em;
          padding-bottom: .1em;
        }
      }

    }
  }
}
