@use 'src/styles/vars';

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #242323;
  padding: 0.7em;
  width: 100%;
  margin-bottom: 2em;

  &-image {
    
    &-img {
     width: 40px;
     background-color: white;
     padding: 0.5em;
     border-radius: 2em;
   }
  }
  &-profil {

    &-icon {
      background-color: #00D3A1;
      padding: 0.7em;
      border-radius: 2em;
      width: 40px;
    }
  }
}
