@use 'src/styles/vars';

.footer {
  width: 60%;
  margin: 0 auto;
  color: vars.$lightColor;
  text-align: center;
  
  @media screen and (max-width: 768px) {
    &-columns {
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      width: 75%;
      font-size: .8em;

      &-column3 {
        margin: 1em 0;
        order: 6;
      }
    }
  }

  &-columns-column3 {
      .title3 {
          margin-bottom: 1em;
      }
  }

  &-columns {
    display: flex;
    justify-content: space-around;

    a {
      color: vars.$lightColor;

        &:hover {
          color: darken(vars.$lightColor, 30%);
        }
    }
  }
}

