@use 'src/styles/vars';

.notfound {
  text-align: center;
  color: vars.$lightColor;

  &-page-message {
    font-size: 3em;
    font-weight: bold;
    text-transform: none;
  }

  &-page-home {
    margin-bottom: 5em;
    img {
      width: 15px;
      filter: invert(49%) sepia(42%) saturate(3124%) hue-rotate(310deg) brightness(99%) contrast(97%);
    }
  }

  &-gif {
    width: 20%;
  }
}
